input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 500px;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
#outputFirst, #outputSecond {
    font-size: 1.15rem;
}